@using E_Commerce_Repository.Models;

@model IEnumerable<E_Commerce_Repository.Models.Account>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}
<section class="content">
    <!-- Default box -->

    <div class="card card-solid">
        <div class="breadcrumb float-sm-left">
            @ViewBag.ErrorMessage
            <a href="@Url.Action("Index", "Member", new { roleName = "User" })" class="btn btn-sm btn-primary" style="margin-right: 10px">Tài khoản User</a>
            <a href="@Url.Action("Index", "Member", new { roleName = "Admin" })" class="btn btn-sm btn-primary" style="margin-right: 10px">Tài khoản Admin</a>
            <a href="@Url.Action("Index", "Member", new { roleName = "SystemAdmin" })" class="btn btn-sm btn-primary" style="margin-right: 10px">Tài khoản System Admin</a>

        </div>
        <div class="card-body pb-0">

            <div class="row">
                @{
                    foreach (var item in Model) {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">

                            <div class="card bg-light d-flex flex-fill">

                                <div class="card-header text-muted border-bottom-0">
                                    Thành viên
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@Html.DisplayFor(modelItem => item.DisplayName)</b></h2>
                                            <p class="text-muted text-sm"><b>Trạng thái: </b>@Html.DisplayFor(modelItem => item.AccountState.Name)</p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Email: @Html.DisplayFor(modelItem => item.Email)</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone: @Html.DisplayFor(modelItem => item.Phone)</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="user-avatar" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        @{
                                                    // Kioeẻm tra quyền - nếu có quyền systemadmin hoặc amdin thì không hiện
                                                    
                                            if (item.AccountRoles.FirstOrDefault(prop => prop.Name.Equals("SystemAdmin") || prop.Name.Equals("Admin")) == null) {
                                                <a href = "@Url.Action("Delete", "Member", new { id=item.Id })" class="btn btn-sm btn-success">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            }
                                        }
                                        <a href="@Url.Action("Index", "ViewProfile", new { id=item.Id })" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> ViewProfile
                                        </a>
                                    </div>
                                </div>


                            </div>

                        </div>
                    }
                }
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>