@using E_Commerce_Repository.Models;
@using E_Commerce_Business_Logic.Session;
@using E_Commerce_Business_Logic.CartHandler;

@{
    var accountConsumer = Session[SessionConstaint.USERSESION] as AccountConsumer;

    bool isLogin = accountConsumer != null;

    var ShoppingcardProduct = Session[SessionConstaint.SHOPPINGCART] as CartView;

    // Hiển thị danh mục sản phẩm
    var category = ViewData["Category"] as List<Category>;
}
<!DOCTYPE html>
<html lang="en">
<!-- molla/category-market.html  22 Nov 2019 10:02:55 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Tittle</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/LOGO_UNIQUESHOP_ICO.ico">


    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/LOGO_UNIQUESHOP_ICO.ico">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">

    <link rel="shortcut icon" href="/assets/images/icons/LOGO_UNIQUESHOP_ICO.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-13.css">
    @RenderSection("CSS", required: false)
</head>

<body style="font-family:Arial">
    <div class="page-wrapper">
        <header class="header header-10">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left" style="max-height:100px;">
                        <a href="@Url.Action("Index", "Home")" class="logo" style="padding-right:100px;">
                            <img src="/assets/images/logo/LOGO_UNIQUESHOP_1000_462.png" alt="Molla Logo" width="180" height="25">
                        </a>

                        <div class="header-search header-search-extended header-search-visible header-search-yes-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>


                            <!-- Tìm kiếm sản phẩm-->
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <input type="search" class="form-control "  name="searchString" id="searchString" placeholder="Tìm sản phẩm danh mục hay thương hiệu mong muốn..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <!--LOGIN BUTTON IN HEADER-->

                        @{
                            if (accountConsumer != null) {
                                <div id="userlogin">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle header-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                                            <img src="@accountConsumer.Avatar" alt="av" style="width: 25%; padding-right: 10px; float: left;" />

                                            <div style="text-align: left;float:left; font-size: 13px">
                                                <span>
                                                    Tài khoản
                                                    <br />
                                                    @accountConsumer.DisplayName
                                                </span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" style="font-size:13px" href="@Url.Action("AccountDetail","Consumer")">Tài khoản của tôi</a>
                                            <a class="dropdown-item" style="font-size:13px" href="#">Đơn hàng của tôi</a>
                                            <a class="dropdown-item" style="font-size:13px" onclick="Logout()">Đăng suất</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else {
                                <div id="nouserlogin">
                                    <a class="btn dropdown-toggle header-left" href="#signin-modal" role="button" data-toggle="modal" style="font-size:15px">
                                        Đăng nhập
                                    </a>
                                </div>
                            }
                        }
                        <div class="dropdown cart-dropdown">
                            @{
                                string datatoggle = "dropdown";
                                string hreflink = "";
                            }
                            @if (!isLogin) {
                                datatoggle = "modal";
                                hreflink = "#signin-modal";
                            }


                            <a href="@hreflink" onclick="ShowShoppingCard()" class="dropdown-toggle" role="button" data-toggle="@datatoggle" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span style="font-family:Tahoma; font-size:17px">Giỏ hàng</span>
                                @if (isLogin && ShoppingcardProduct != null) {
                                    <span class="cart-count">@ShoppingcardProduct.Products.ToList().Count()</span>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            @foreach (var product in ShoppingcardProduct.Products) {

                                                <div class="product">
                                                    <div class="product-cart-details">
                                                        <h4 class="product-title">
                                                            <!--Url Action To product detail-->
                                                            <a href="#">@product.productName</a>
                                                        </h4>

                                                        <span class="cart-product-info">
                                                            <span class="cart-product-qty"></span>
                                                            @String.Format("{0:n0}", @product.Price) đ
                                                        </span>
                                                        <br />
                                                        <span class="cart-product-info">
                                                            <span class="cart-product-qty"></span>
                                                           Số lượng: @product.numberItems
                                                        </span>
                                                    </div><!-- End .product-cart-details -->

                                                    <figure class="product-image-container">
                                                        <!--Url Action To product detail-->
                                                        <a href="#" class="product-image">
                                                            <img src="@product.productImages.ToList().ElementAt(0).URL" alt="product">
                                                        </a>
                                                    </figure>
                                                    <!--Url Action Remove product from shopping card-->
                                                    
                                                </div><!-- End .product -->
                                            }

                                        </div><!-- End .cart-product -->
                                        <div class="dropdown-cart-total">
                                            <span>Tổng cộng</span>
                                            <span class="cart-total-price"> @String.Format("{0:n0}", @ShoppingcardProduct.totalprice) đ </span>

                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="@Url.Action("Index", "Card")" class="btn btn-primary">Giỏ hàng</a>
                                            <a href="@Url.Action("Index", "Card")" class="btn btn-outline-primary-2"><span style="font-family:Tahoma;">Thanh toán</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                }
                            </a>

                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">



                            <div class="dropdown category-dropdown">
                                <a style="font-family:Tahoma" href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                    Danh mục sản phẩm
                                </a>
                                <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                            @if (category != null) {
                                                foreach (var ca in category) {
                                                    // href is a action resource;
                                                    <li><a href="#">@ca.Name</a></li>
                                                }
                                            }

                                            <!-- Show category navigation bar -->

                                        </ul><!-- End .menu-vertical -->
                                    </nav><!-- End .side-nav -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->
                        </div><!-- End .col-lg-3 -->

                        <div class="col-lg-9">
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">

                                        <a href="@Url.Action("Index", "Home")" class="sf-with-ul">Home</a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("Index","Shop")" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">Laptop</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-list.html">Asus</a></li>
                                                                    <li><a href="category-2cols.html">Dell</a></li>
                                                                    <li><a href="category.html">Lenovo</a></li>
                                                                    <li><a href="category-4cols.html">Macbook</a></li>
                                                                    <li><a href="category-market.html"><span>Surface<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>

                                                                <div class="menu-title">Smart Phone</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.html"><span>Iphone<span class="tip tip-hot">Hot</span></span></a></li>
                                                                    <li><a href="category-fullwidth.html">Samsung</a></li>

                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">On Demand</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.html">Office</a></li>
                                                                    <li><a href="product-category-fullwidth.html"><span>Gaming<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                                <div class="menu-title">Prices</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="cart.html">0-10 million</a></li>
                                                                    <li><a href="checkout.html">10-20 million</a></li>
                                                                    <li><a href="wishlist.html">20-30 million</a></li>
                                                                    <li><a href="dashboard.html">30-100 million</a></li>
                                                                    <li><a href="#">more than</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <img src="/assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About","Home")" class="sf-with-ul">About</a>

                                    </li>

                                    <li>
                                        <a href="@Url.Action("Contact","Home")" class="sf-with-ul">Contact</a>


                                    </li>
                                   
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        @RenderBody()

        <footer class="footer footer-2">
            <div class="icon-boxes-container">
                <div class="container">

                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="wid                                                                                                                                    et widget-about">
                                <img src="/assets/images/logo/LOGO_UNIQUESHOP_1000_462.png"  class="footer-logo" alt="Footer Logo" width="450" height="25">
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Liên hệ với chúng tôi</span>
                                            <a href="tel:123456789">0329199948</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Phương thức thanh toán</span>
                                            <figure class="footer-payments">
                                                <img src="/assets/images/icons/momo_icon_rectangle.png" alt="Payment methods" width="60" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Thông tin lên hệ</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">Về Unique Shop</a></li>
                                    <li><a href="faq.html"></a></li>
                                    <li><a href="contact.html">Thông tin liên lạc</a></li>
                                    <li><a href="#signin-modal" data-toggle="modal">Đăng nhập</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>



            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Đăng ký</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">

                                    <!-- LOGIN FORM-->
                                    <form>
                                        <!--Html.AntiForgeryToken()-->
                                        <div class="form-group">
                                            <label for="singin-email" id="labelUsername">Số điện thoại hoặc email * </label>
                                            <input type="text" class="form-control" id="singin-email" name="username" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password" id="labelPassword">Mật khẩu *</label>
                                            <input type="password" class="form-control" id="singin-password" name="password" required>
                                        </div><!-- End .form-group -->
                                        <label for="singin-password" id="responseMessage" style="color:red"></label>
                                    </form>

                                    <div class="form-footer">
                                        <button type="submit" id="btnlogin" onclick="Validation()" class="btn btn-outline-primary-2">
                                            <span>Đăng nhập</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Nhớ mật khẩu</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Quên mật khẩu?</a>
                                    </div><!-- End .form-footer -->

                                    <div class="form-choice">
                                        <p class="text-center">Hoặc đăng nhập bằng</p>
                                        <div class="row">
                                            <div class="col-sm-6" id="btnGoogleLogin" onclick="GoogleLoginFunction()">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="register-email">Số điện thoại hoặc email *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>

                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Mật khẩu *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button class="btn-outline-primary-2">
                                                <span>Đăng ký</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">Đồng ý với <a href="#">Điều khoản</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">Hoặc đăng nhập với</p>
                                        <div class="row">
                                            <div class="col-sm-6" id="btnGoogleLogin" onclick="GoogleLoginFunction()">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/AuthenticationJS/Authentication.js"></script>
    <script>

    </script>
    @RenderSection("Js", required: false)
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

    <!-- AUTHENTICATION - WITH USERNAME PASSWORD -->

</body>


<!-- molla/category-market.html  22 Nov 2019 10:03:00 GMT -->
</html>