@model E_Commerce_Repository.Models.Product
@using E_Commerce_Repository.Repository;


@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
    ProductComponentRepository productComponent = new ProductComponentRepository();
}

@using (Html.BeginForm("Create", "ListProducts", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="card card-primary">
    <div class="card-header">
        <h4 class="card-title">Thêm Sản Phẩm Mới</h4>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Tên Sản Phẩm</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Giá</label>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Số Lượng</label>
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Khuyến Mãi</label>
            @Html.DropDownList("PromotionID")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Công Ty</label>
            @Html.DropDownList("CompanyID")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Nhà Cung Cấp</label>
            @Html.DropDownList("SupplierID")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Name">Loại Sản Phẩm</label>
            @Html.DropDownList("TypeProductID")
        </div>
    </div>

    <!--<div class="form-group">
        <div class="col-md-10">
            <label for="Name">Mô Tả</label>
            <textarea name="Mota">Mô tả thông tin sản phẩm</textarea>
        </div>
    </div>-->

    <div class="form-group">
        <div class="col-md-10">
            <label for="Picture">Hình Ảnh</label>
            <input type="file" name="fileupload" />
            @*thong bao trung*@
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về Danh Sách", "Index")
</div>