@model E_Commerce_Repository.Models.Product

@{
    ViewBag.Title = "Xóa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="card card-danger">
    <div class="card-header">
        <h4>Bạn muốn "XÓA" sản phẩm này? Are you sure!!!</h4>
    </div>
    <div class="dl-horizontal">
        <div class="col-md-10">
            <label for="Name">Tên Sản Phẩm</label>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="col-md-10">
            <label for="Name">Giá</label>
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="col-md-10">
            <label for="Name">Số Lượng</label>
            @Html.DisplayFor(model => model.Quantity)
        </div>

        <div class="col-md-10">
            <label for="Name">Khuyến Mãi</label>
            @Html.DisplayFor(model => model.Promotion.Name)
        </div>

        <div class="col-md-10">
            <label for="Name">Công Ty</label>
            @Html.DisplayFor(model => model.Company.Name)
        </div>

        <div class="col-md-10">
            <label for="Name">Nhà Cung Cấp</label>
            @Html.DisplayFor(model => model.Supplier.Name)
        </div>

        <div class="col-md-10">
            <label for="Name">Loại Sản Phẩm</label>
            @Html.DisplayFor(model => model.TypeProduct.Name)
        </div>

        <div class="col-md-10">
            <label for="Name">Mô Tả</label>
            @Html.DisplayFor(model => model.Describe.Description)
        </div>

        <div class="col-md-10">
            <label for="Name">Hình Ảnh</label>
            <img src="@Html.DisplayFor(modelItem => modelItem.ProductImages.ElementAt(0).URL)" style="width:80px;" />
        </div>
    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    @Html.ActionLink("Về Danh Sách", "Index")
</div>
}
</div>
