@using E_Commerce_Repository.Repository;
@using E_Commerce_Repository.Models;


@model E_Commerce_Repository.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="@Html.DisplayFor(model => model.Avatar)"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Html.DisplayFor(model => model.DisplayName)</h3>

                        <p class="text-muted text-center">@Html.DisplayFor(model => model.DisplayName)</p><!--000000000000000-->

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Năm sinh:</b> <a class="float-right">@Html.DisplayFor(model => model.DateOfBirth)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Giới tính</b> <a class="float-right">@Html.DisplayFor(model => model.Sex)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone:</b> <a class="float-right">@Html.DisplayFor(model => model.Phone)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email:</b> <a class="float-right">@Html.DisplayFor(model => model.Email)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Trạng thái:</b> <a class="float-right">@Html.DisplayFor(model => model.AccountState.Name)</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <h1 class="btn btn-lg btn-primary">Settings</h1>
                        <!--<ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                        </ul>-->
                    </div> <!--/.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("UpdateAccount", "ViewProfile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <!--<div class="tab-content">
                            <div class="tab-pane" id="settings">-->
                        <form class="form-horizontal" action="@Url.Action("UpdateAccount", "ViewProfile", new { account = Model as Account})">

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Mã tài khoản</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "readonly", @placeholder = "id" })
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="inputName" class="col-sm-2 col-form-label">Họ và Tên</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", @placeholder = "Tên" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputBirth" class="col-sm-2 col-form-label">Năm sinh</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @placeholder = "Năm sinh" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputSex" class="col-sm-2 col-form-label">Giới tính</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Sex, new { @class = "form-control", @placeholder = "Giới tính" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPhone" class="col-sm-2 col-form-label">Số điện thoại</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Ảnh đại diện</label>
                                <div class="col-sm-10">
                                    <input type="file" name="fileupload" />
                                    @ViewBag.Thongbao
                                </div>
                            </div>

                        
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>


                        </form>
                        }
                        <!--</div>
                        /.tab-pane -->
                        <!--</div>
                        /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div>
    @Html.ActionLink("Về Danh Sách", "Index", "Member")
</div>